<div class="container">
    <div class="row">
        <div>

            <a class="blog col-6" href="https://blogging-9dde3.firebaseapp.com">

                <img class="pan" src="../../../assets/images/PAN DE JENGIBRE-1.png" alt="">


            </a>
            <h1>Blog de recetas</h1>
        </div>
        <div>
            <a class="blog col-6"
                href="https://personal-oureovd3.outsystemscloud.com/FirstGym2/MainFlow.BoutiqueGym.aspx?(Not.Licensed.For.Production)">


                <img class="pan" src="https://icon-library.com/images/gym-icon-png/gym-icon-png-19.jpg" alt="">

            </a>
            <h1>Let´s Gym</h1>
        </div>

        <div>
            <a class="blog" href="https://github.com/BEATRIZ7992">


                <img class="pan" src="../../../assets/images/imagesIcon/git.png" alt="">

            </a>
            <h1>GitHub</h1>
        </div>
    </div>
</div>
<img class="foto1" src="../../../assets/images/DSC_0176.png" alt="">