<div class="container">
    <div class="row">
        <div class="codigo">

            <a class="blog col-6" href="https://blogging-9dde3.firebaseapp.com">

                <img class="pan" src="https://image.flaticon.com/icons/png/512/114/114955.png" alt="">

                <h1>Blog de recetas</h1>

            </a>
            <a class="code" href="https://github.com/BEATRIZ7992/blogging">Código Front-End</a>


        </div>
        <div class="codigo">
            <a class="blog col-6"
                href="https://personal-oureovd3.outsystemscloud.com/FirstGym2/MainFlow.BoutiqueGym.aspx?(Not.Licensed.For.Production)">


                <img class="pan" src="https://icon-library.com/images/gym-icon-png/gym-icon-png-19.jpg" alt="">
                <h1>Let´s Gym</h1>
            </a>


        </div>
        <div class="codigo">
            <a class="">


                <img class="pan foto" src="https://images-na.ssl-images-amazon.com/images/I/31GAdC0wHHL.png" alt="">
                <h1>Photopro</h1>

            </a>
            <a class="code" href="https://github.com/BEATRIZ7992/PhotoproAngular">Código Front-End</a>
            <a class="code" href="https://github.com/BEATRIZ7992/BackPhotopro">Código Back-End</a>


        </div>


        <a class="blog" href="https://github.com/BEATRIZ7992">


            <img class="pan"
                src="https://icons-for-free.com/iconfiles/png/512/coding+development+github+programming+social+icon-1320086085448562008.png"
                alt="">
            <h1>GitHub></h1>
        </a>


    </div>
</div>
<img class="foto1" src="../../../assets/images/DSC_0176.png" alt="">