#footer{
   
 
    

    background-color: rgba(150, 143, 143, 0.514);
    padding: 20px 0px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    img{
        height: 40px;
        width: 40px;
  
        margin-left: 10px;
      
      }
      .you{
          height: 40px;
          width: 54px;
      }
   
}
