<ul class="nav justify-content-center">
    <li class="nav-item">
        <a [routerLink]="['/']" class="nav-link active" aria-current="page">Home</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['/sobremi']" class="nav-link active" aria-current="page">Sobre mí</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['/hardskill']" class="nav-link active" aria-current="page">Hard Skill</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['/proyectos']" class="nav-link active" tabindex="-1" aria-disabled="true">Proyectos</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['/contacto']" class="nav-link active" tabindex="-1" aria-disabled="true">Contacto</a>
    </li>
</ul>