<div class="container">
    <h1 class="principal">Beatriz Campos de la Oliva</h1>
    <div class="contenedor">
        <p>Me he dedicado al área social, trabajando desde que empecé los estudios.
            Actualmente, me he formando como <strong>desarrolladora Full-Stack</strong> , dando un giro a mi carrera
            profesional y
            descubriendo un mundo de retos y proyectos dónde puedo ofrecer mi experiencia y mis conocimientos en varias
            tecnologías y distintos flujos de tareas, con una ética laboral y personal basada en la disciplina, en la
            vocación hacia las personas y en la predisposición a un continuo aprendizaje.
        </p>
    </div>
    <h3>CV</h3>
    <a href="../../../assets/images/BEATRIZ CAMPOS DE LA OLIVA-8.pdf" download="">🇪🇸</a>
    <a href="../../../assets/images/ECV.pdf" download="">🇬🇧</a>
</div>
<img class="foto" src="../../../assets/images/Beatriz Campos2.png" alt="">