<div class="container">

    <h1 class="principal">Beatriz Campos de la Oliva</h1>

    <div class="contenedor">
        <img src="../../../assets/images/Captura de pantalla 2021-04-26 a las 12.38.26 (2).png" alt="">
    </div>



    <h3>CV</h3>
    <i class="fas fa-arrow-right"></i>

    <a class="icon" href="../../../assets/images/BEATRIZ CAMPOS DE LA OLIVA-8.pdf" download="">🇪🇸</a>


    <a class="icon" href="../../../assets/images/ECV.pdf" download="">🇬🇧</a>




</div>
<img class="foto" src="../../../assets/images/Beatriz Campos2.png" alt="">
<i class="fas fa-arrow-right"></i>