<div class="contenedor">

    <div class="container">
        <select class="btn-group" aria-label="Default select example" (change)="onChange($event)">
            <option value="todos">Todos</option>
            <option [value]="categoria" *ngFor="let categoria of listaCategory">{{categoria}}</option>

        </select>



    </div>


    <div class="container">


        <div class="col-12 col-md-6 col-xs-12" *ngFor="let cv of ponerCv">



            <a [href]="cv.link" id="imagen"><img [src]="cv.imagen" class="foto2"></a>







        </div>


    </div>
</div>
<img class="foto" src="../../../assets/images/imagesIcon/DSC_0151s.jpg" alt="">